<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHive</title>
    <link rel="stylesheet" href="telainicial.css">
</head>
<body>
    <div class="top-section">
        <div class="content">
            <img src="imagens/abelha.png" alt="abelha" class="bee">
            <p class="subtitle">Transforme Dados Em Resultados</p>
            <h1 class="title">TaskHive</h1>
        </div>
    </div>

    <div class="divider"></div>

    <div class="bottom-section">
        <p class="identify">Identifique-se</p>
        <button class="btn login">Login</button>
        <p class="register-text">Não tem uma conta?<span>Cadastre-se</span></p>
        <button class="btn signup">Cadastre-se</button>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='telainicial.css') }}">
<script src="{{ url_for('static', filename='telainicial.js') }}"></script>

</body>
</html>
